<head>
  <%- include ('./templates/head') %> 
</head>

<body>
  <%- include ('./templates/navbar') %> 

  <%- include ('./templates/banner') %> 

  <div class="container">
      <article class="edit-post">
        <div class="login__err-message"><%= errorMessage %></div>
        <form action="/update/<%= article.id %>" method="POST">
          <div class="edit-post__title">
            發表文章：
          </div>
          <div class="edit-post__input-wrapper">
            <input class="edit-post__input" name="title" value="<%= article.title %>" /> 
          </div>
          <div class="edit-post__input-wrapper">
            <textarea rows="20" name="content" class="edit-post__content"><%= article.content %></textarea>
          </div>
          <div class="edit-post__btn-wrapper">
            <input class="edit-post__btn" type='submit' value="更 新" />
          </div>
        </form>
      </article>
  </div>


  <%- include ('./templates/footer') %> 
  <%- include ('./templates/script') %> 
</body>